.app-wrapper {
  display: flex;
  height: 85vh;
  margin-top: 5%;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 4px;
}

.current-garage {
  width: 25vw;
  position: relative;
  text-align: center;
}

.cars-list {
  width: 75vw;
  background: #dbdbdb;
  border-radius: 0px 4px 4px 0px;
  padding: 10px;
  margin-left: 2px;
  overflow: scroll;
}

.background-image {
  filter: grayscale(1);
  opacity: 0.4;
  background-image: url("https://hipertextual.com/files/2020/09/hipertextual-mercedes-benz-muestra-su-prototipo-futurista-accion-2020024761-740x490.jpg");
  height: 200px;
  background-position: center;
  background-size: inherit;
  border-radius: 4px 0px 0px 0px;
}

.cars-new-background {
  background-image: url("https://hipertextual.com/files/2020/09/hipertextual-mercedes-benz-muestra-su-prototipo-futurista-accion-2020024761-740x490.jpg");
  opacity: 0.4;
  background-size: cover;
  width: 75vw;
  background-position: center;
  margin-left: 2px;
}

.logo-img {
  width: 85px;
  position: absolute;
  top: 154px;
  left: 36%;
  border-radius: 50%;
  border: 4px solid white;
}

.navigation-link {
  border: 1px solid black;
  padding: 14px;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  border-radius: 4px;
  color: black;
  font-weight: bold;
}

.navigation-link:hover {
  text-decoration: none;
  color: black;
}

.garage-description {
  text-align: left;
  color: #aeafaf;
  margin-bottom: 40px;
  font-size: 16px;
}

.current-garage-info {
  padding: 20px;
}

.car-card {
  margin-bottom: 10px;
  background: white;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;

  p:last-child {
    margin: 0;
  }
}

.car-card-content {
  padding: 10px;
}

.car-brand-model,
.car-owner {
  font-weight: bold;
}

// CARS NEW //

form {
  opacity: 1;
  background: white;
  width: 60%;
  margin: 0 auto;
  color: black;
  padding: 30px;
  margin-top: 12%;
}

label {
  display: block;
}

input {
  width: 100%;
  height: 36px;
  margin-bottom: 30px;
}

.btn-primary,
.btn-primary:hover {
  background: #d13334;
  border: none;
  opacity: 1;
  padding: 10px;
  border-radius: 0px;
}
